/* || GENERAL STYLES */

a {
	text-decoration: none;
	color: black;
}

/* || UTILITIES */

/* || SITEWIDE */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #d9d9d9;
	height: 71px;
	padding-left: 30px;
	padding-right: 30px;
}

header {
	height: 730px;
	background-image: url("images/header.jpg");
}

/* || NAV */
.nav-logo {
	width: 200px;
	font-size: 12px;
}

.nav-links {
	display: flex;
	column-gap: 36px;
	justify-self: center;
}

.nav-links a:first-child {
	font-weight: bold;
}

.nav-social {
	width: 200px;
}

/* || HEADER */
