.i-sessio {
  display: flex;
  height: 80vh;
}

.isessio-formulari {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80%;
}

.isessio-pas {
  width: min-content;
}

.isessio-pas > h3 {
  font-size: 60px;
  text-wrap: nowrap;
}

.isessio-pas input {
  margin-top: 15px;
  font-size: 25px;
}

.isessio-pas .MuiFormControl-root {
  width: 95%;
  margin-left: 5px;
  /* flex: 1; */
  margin-bottom: 20px;
}

.i-sessio > img {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scaleX(-1);
}
