.registre {
  display: flex;
  height: 80vh;
}

.registre-formulari {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80%;
}

.registre-pas > h3 {
  font-size: 60px;
}

.registre-pas input {
  margin-top: 15px;
  font-size: 40px;
}

.registre-pas .MuiFormControl-root {
  width: 55%;
  margin-left: 5px;
}

.registre > img {
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
