/* Dummy positioning */
.dummy-positioning {
  /* width: 100%; */
  align-items: center;
  justify-content: center;
}

/* Structure */
.success-icon {
  display: inline-block;
  width: 8em;
  height: 8em;
  font-size: 3px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  transform-origin: center;
  animation: showSuccess 180ms ease-in-out, fadeIcon 500ms ease-in-out 1s;
  transform: scale(1);
  animation-fill-mode: forwards;
}

/* Elements */
.success-icon__tip,
.success-icon__long {
  display: block;
  position: absolute;
  height: 2px;
  background-color: #fff;
  border-radius: 10px;
}

.success-icon__tip {
  width: 2.4em;
  top: 4.3em;
  left: 1.4em;
  transform: rotate(45deg);
  animation: tipInPlace 300ms ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 180ms;
  visibility: hidden;
}

.success-icon__long {
  width: 4em;
  transform: rotate(-45deg);
  top: 3.7em;
  left: 2.75em;
  animation: longInPlace 140ms ease-in-out;
  animation-fill-mode: forwards;
  visibility: hidden;
  animation-delay: calc(300ms + 140ms);
}

@keyframes showSuccess {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fadeIcon {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0);
    display: none;
  }
}

@keyframes tipInPlace {
  from {
    width: 0em;
    top: 0em;
    left: -1.6em;
  }
  to {
    width: 2.4em;
    top: 4em;
    left: 1.1em;
    visibility: visible;
  }
}

@keyframes longInPlace {
  from {
    width: 0em;
    top: 5.1em;
    left: 3.2em;
  }
  to {
    width: 4em;
    top: 3.4em;
    left: 2.45em;
    visibility: visible;
  }
}
