/* Peu */
.peu {
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
	border-top: 1px solid black;
	background-color: white;
	position: absolute;
}

.copyright {
	margin: 0;
}

.dropdown-toggle:after {
	content: unset;
}
